body{
    text-align: center;
    background-color: #F4F4FF;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

p{
    font-size: 1.2rem;
}

#daily{
    height: 35rem;
    width: auto;
}

strong{
    font-size: 1.2rem;
    margin-top: 2rem;
}

p{
    width: 60rem;
}

@media(max-width: 767px){
    #daily{
        height: 25rem;
    }

    p{
        width: 100%;
    }
}
