*{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-image: linear-gradient(white, rgb(231, 255, 231));
    background-attachment: fixed;
    background-repeat: no-repeat;
}

h1{
    text-align: center;
    font-size: 2.5rem;
}

#credits{
    text-align: center;
    font-weight: 700;
}


a{
    margin-top: 2rem;
    text-decoration: none;
    padding: 1.2rem;
    color: black;
    font-weight: 700;
    border-radius: 50px;
    transition: 0.5s;
    text-align: center;
    width: 20rem;
    box-shadow: 5px 5px 5px rgb(204, 204, 204);
}

.logos{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    align-items: center;
    justify-items: center
}

#logo{
    margin-left: 1rem;
    width: 14rem;
    height: auto;
}

#logo2{
    width: 9rem;
    height: auto;
}



a:hover{
    transition: 0.5s;
    padding: 1.5rem;
}

#alim{
    background-color: rgb(221, 135, 0);
}

#trans{
    background-color: rgb(16,99,166);
}

#morad{
    background-color: rgb(144,23,83);
}

#pafe{
    background-color: rgb(19,147,138);
}

#inst{
    background-color: rgb(7,143,59);
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
}

@media(max-width: 767px){

    a:hover{
        padding: 1.2rem;
    }

    #logo{
        width: 12rem;
    }

    #logo2{
        width: 7rem;
    }
}
